<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <script src="js/script.js" async defer></script>
    <div id="main-container">
      <div id="nav">
        <div id="nav-right">
          <div class="nav-sub" id="tile-count-node">
            TILES &nbsp;&nbsp;
            <div id="tile-count">3</div>
          </div>
          <div class="nav-sub" id="trials">TRIALS &nbsp;&nbsp; &infin;</div>
          <div class="nav-sub" id="score-node">
            SCORE &nbsp;&nbsp;
            <div id="score">0</div>
          </div>
        </div>
      </div>
      <div id="game-board"></div>
    </div>
    <button onclick="stuff()">PRESS ME</button>
  </body>
</html>
