<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script src="constants/script_constants.js" async defer></script>
    <script src="js/script.js" async defer></script>
    <div id="main-container">
      <div id="nav">
        <div id="nav-left">
          <button
            id="terminate-button"
            class="btn btn-danger"
            onclick="promptModal('prompt-modal')"
          >
            TERMINATE
          </button>
        </div>
        <div id="prompt-modal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to terminate?</h5>
                <button
                  type="button"
                  class="close"
                  onclick="promptModal('prompt-modal')"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  onclick="promptModal('prompt-modal')"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  No
                </button>
                <button
                  type="button"
                  onclick="summary()"
                  class="btn btn-success"
                >
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="nav-right">
          <div class="nav-sub" id="tile-count-node">
            TILES &nbsp;&nbsp;
            <div id="tile-count">3</div>
          </div>
          <div class="nav-sub" id="trials">TRIALS &nbsp;&nbsp; &infin;</div>
          <div class="nav-sub" id="score-node">
            SCORE &nbsp;&nbsp;
            <div id="score">0</div>
          </div>
        </div>
      </div>
      <div id="game-board" class="hidden"></div>
    </div>
    <div id="start-screen">
      <div id="start-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Welcome to the Rotation Matrix Game!</h5>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                onclick="startModal('start-modal'), start(4,5)"
                class="btn btn-success"
              >
                Play
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
