doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/styles.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
script(src='constants/constants.js' async='' defer='')
script(src='js/summary-script.js' async='' defer='')
.summary-box
  #summary-title Rotation Matrix
  form#summary-form.product-form(action='/score/add' method='POST')
    label#score-result(for='score')
      | Score
    input#score(type='text' name='score' value='10' readonly='')
    label#name-tag(for='name') Name
    input#name.form-fields.input(type='text' name='name' onchange='saveName()')
    .button-bar
      button#submit-button.btn.btn-secondary.btn-lg(type='submit')
        | Submit Score
  button#restart-button.btn.btn-primary.btn-lg(type='text' onclick='redirect()')
    | RESTART
