<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script src="constants/script_constants.js" async defer></script>
    <script src="js/summary-script.js" async defer></script>
    <div class="summary-box">
      <div id="summary-title">Rotation Matrix</div>
      <form
        class="product-form"
        id="summary-form"
        action="/score/add"
        method="POST"
      >
        <div id="score-result">
          Score
          <div id="score-result-node">10</div>
        </div>
        <label for="name">Name</label>
        <input
          class="form-fields input"
          type="text"
          id="name-field"
          name="name"
        />
      </form>
      <div class="button-bar">
        <button
          type="text"
          id="restart-button"
          class="btn btn-primary btn-lg"
          onclick="redirect()"
        >
          RESTART
        </button>
        <button
          type="submit"
          id="submit-button"
          class="btn btn-secondary btn-lg"
        >
          Submit Score
        </button>
      </div>
    </div>
    <div class="artist-list" id="artist-list"></div>
  </body>
</html>
