body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url('../media/backgrounds/brown-background.jpg');
}

body.blur {
  /* -webkit-filter: blur(5px) grayscale(90%); */
}

#prompt-modal {
  display: none;
  filter: none;
}

#start-modal {
  display: block;
}

#game-board {
  background-color: rgb(43, 31, 26);
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  transition: all 1s ease;
}

#game-board.hidden {
  transform: translateX(200%);
}

#game-board.ninety {
  transform: rotateZ(90deg);
}

#game-board.one-eighty {
  transform: rotateZ(180deg);
}

#game-board.two-seventy {
  transform: rotateZ(270deg);
}

#nav {
  overflow: hidden;
  display: flex;
  width: 70%;
  margin: 5% auto 0 auto;
  padding: 0px 20px 10px 20px;
}

#nav-right {
  background-color: transparent;
  flex: 1;
}

#nav-left {
  flex: 1;
}

.nav-sub {
  color: rgb(103, 77, 69);
  background-color: lightgray;
  float: right;
  text-align: center;
  padding: 12px;
  margin-left: 2px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
}

.nav-sub div {
  float: right;
}

.game-tile {
  background-color: rgb(103, 77, 69);
  width: 75px;
  height: 75px;
  margin: 3px;
  position: relative;
  transition: all 1s ease;
}

.game-tile.flip-ninety {
  transform: rotateX(90deg);
}

.game-tile.flip-one-eighty {
  transform: rotateX(180deg);
}

.game-tile.flip-two-seventy {
  transform: rotateX(270deg);
}

.game-tile.flip {
  background-color: rgb(70, 154, 170);
  transform: rotateX(180deg);
}

.game-tile.incorrect {
  background-color: #ff3939;
  background-image: url('../media/icons/incorrect.png');
  background-position: center;
  background-size: cover;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: grow;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: -moz-transform;
  transition-duration: 1s;
  animation-name: grow;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes grow {
  from {
    -moz-transform: scale(1);
  }
  to {
    -moz-transform: scale(1.5);
  }
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

/* Summary Page */

.summary-box {
  display: block;
  color: white;
  padding: 0px 20px 20px 20px;
  margin: 10% auto 0 auto;
  width: 50%;
  font-weight: 200;
}

#summary-title {
  text-align: center;
  font-size: 70px;
  margin: 0 0 2% 0;
}

#summary-form {
  font-size: 30px;
  width: 50%;
  margin: auto;
}

#score-result {
  margin: 0 0 5% 0;
  width: 25%;
}

#score-result-node {
  width: 50%;
  height: 50%;
  color: white;
  background: transparent;
  border: none;
  margin: 0 0 0 20%;
  font-weight: 200;
}

#name-tag {
  width: 25%;
}

#name-field {
  width: 50%;
  height: 50%;
  background-color: #dead7c;
  border-color: black;
  margin: 0 0 0 20%;
}

.button-bar {
  text-align: center;
}

#restart-button {
  margin: 5% 5% 0 0;
}

#submit-button {
  margin: 5% 0 0 5%;
}

/* Leaderboard Page */

.leaderboard-box {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#high-score-banner {
  text-align: center;
  font-size: 50px;
  color: white;
  margin: 3% auto 0 auto;
}

#board {
  width: 40%;
  font-size: 25px;
  margin: 5% auto 0 auto;
}

.rank-table {
  background-color: #dead7c;
}

.data-rows {
  color: black;
}

#leader-restart-button {
  margin: 3% 0 0 0;
}
